{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="../static/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="../static/js/prosperent_search.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/prosperent_search.css">
</head>
<body>
    <h2>- - - PROSPERENT SEARCH - - -</h2>

     <div class="myButtons">
         <input type="text" id="searchBox" placeholder="Search for an item.">
         <button class="button" id="getItem"> Search </button>
         <button class="button" id="saveMovie"> Save this Movie (HTML) </button>
         <button class="button" id="saveMovieJson">Save this Movie (JSON) </button>
    </div>


    <div class="itemInformation"></div>
</body>
</html>